body {
	background: #eee;
}
.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
    padding: 15px;
}
.btn-danger {
    color: #fff;
    background-color: #D22B23;
    border-color: #D22B23;
    border-radius: 210px;
    padding: 7px 20px;
}